.foto1{
    width: 30%;
    border: 40px solid;
    border-color: rgb(70, 70, 70);
    margin-left: 65%;
    margin-top: -32%;
    text-align: center;
}

.inicio{
    display: grid;
    font-family: "Segoe UI";
    border: 2px solid;
    border-color: rgba(156, 150, 150, 0.829);
    color: rgb(70, 70, 70);
    
}
h4{
    letter-spacing: 0.2em;
    font-size: x-large;
}


.principal{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

hr{
    padding: 2px;
    background-color: rgba(156, 150, 150, 0.829);
    border-radius: 2px;
}
p{
    color: rgb(70, 70, 70);
    font-family: "Segoe UI";
    
}
h2{
    color: rgb(70, 70, 70);
    font-family: "Segoe UI";
    letter-spacing: 0.3em;
}
.edu2{
    display: grid;
    grid-template-columns: repeat(2, 100px);
}
.cir1{
    width: 30%;
    margin-top: 22%;
    padding-right: 10%;
}